  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Bentham&display=swap');


  body {
      margin: 0 auto;
      padding: 0 auto;
      box-sizing: border-box;
      font-family: 'Be Vietnam Pro', sans-serif;
  }

  /* NavBar */

  .navbar {
      background-color: #a2b4f0ec;
  }

  .nav-link {
      color: black !important;
      font-family: 'Be Vietnam Pro', sans-serif;
      font-weight: 200 !important;
  }

  .navbar-collapse {
      flex-grow: initial !important;
  }

  .navbar ul {
      justify-content: end;
  }

  /* header */

  .header {
      background-image: url(../../public/headerart.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      display: grid;
      align-content: center;
  }

  .header .title {
      backdrop-filter: blur(4px);
  }


  .header h1 {
      display: block;
      font-family: 'Bentham', serif;
      font-size: 6rem;
      color: white;
      text-transform: uppercase;
      line-height: 96%;
  }

  h1 {
      display: flex;
      font-family: 'Bentham', serif;
      font-size: 6rem;
      text-transform: uppercase;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 20px;

  }

  .header h3 {
      font-weight: 400;
      font-size: 20px;
      color: rgb(255, 255, 255);
      padding: 40px;
      text-transform: uppercase;
  }

  /* Lines animés */

  .line1 {
      width: 0px;
      height: 1px;
      position: relative;
      z-index: 3;
      top: 18%;
      left: 65%;
      background-color: white;
      animation-name: example;
      animation-duration: 3s;
      animation-fill-mode: forwards;
  }

  @keyframes example {
      from {
          width: 2px;
      }

      to {
          width: 200px;
      }
  }

  .line3 {
      width: 1px;
      height: 0px;
      position: relative;
      top: 0%;
      left: 0%;
      z-index: 3;
      background-color: white;
      animation-name: example3;
      animation-duration: 3s;
      animation-delay: 0.7s;
      animation-fill-mode: forwards;
  }

  @keyframes example3 {
      from {
          height: 1px;
      }

      to {
          height: 250px;
      }
  }

  .line2 {
      width: 0px;
      height: 2px;
      position: relative;
      z-index: 3;
      left: 25%;
      background-color: white;
      animation-name: example2;
      animation-duration: 2.5s;
      animation-fill-mode: forwards;
      animation-delay: 1.7s;
  }

  @keyframes example2 {
      from {
          width: 2px;
      }

      to {
          width: 300px;
      }
  }

  .card-compte {
      border: none !important;
  }

  .card-img-top {
      object-fit: cover;
      object-position: center;
  }

  .card-title {
      font-family: 'Bentham', serif;
      font-size: 1.6rem;
  }

  .card-text {
      font-family: 'Be Vietnam Pro', sans-serif;
      font-weight: 200;
      font-size: 14px;
  }


  .card-compte h5 {
      background-color: #F0F6F7 !important;
      font-family: 'Bentham', serif;
      font-size: 1rem;
      text-align: center;
      padding: 0.5rem 0rem 0.5rem 0rem;
      margin: 0;
      box-shadow: 3px 3px 20px #A2B4F0;
      border-radius: 5px 5px 0 0;
  }

  .card-compte-text {
      background-color: #F0F6F7 !important;
      font-family: 'Be Vietnam Pro', sans-serif;
      font-weight: 200;
      font-size: 14px;
      border-radius: 0 0 5px 5px;
      box-shadow: 3px 3px 15px #A2B4F0;

  }

  .loginTitle {
      font-family: 'Bentham', serif;
      font-size: 1rem;
      margin-top: 0.4rem;
      margin-bottom: 2rem;
      color: #87a3f5;
  }

  .loginback {
      background-image: url(../../public/fondblanc2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 80vh;
  }

  .list-group-item {
      background-color: #F0F6F7 !important;
      border: none !important;
  }

  .containerArticle {
      margin: 0% 8% 0% 8% !important;
  }

  .commLeft {
      text-align: initial;
  }

  .commRight {
      text-align: end;
  }

  .formulaireTitre {
      font-family: 'Bentham', serif;
      font-size: 3rem;
      color: #87a3f5;
  }

  .homeEvent,
  .articlepop {
      margin-bottom: 60px;
  }

  h2 {
      font-family: 'Be Vietnam Pro', sans-serif;
      text-transform: uppercase;
      font-size: 24px !important;
      margin-top: 40px;
      margin-bottom: 24px;
  }

  h5 {
      text-transform: uppercase;
  }

  .btn-bleu {
      background-color: #A2B4F0 !important;
      padding: 8px 20px 8px 20px !important;
      color: white !important;
  }

  .btn-bleu:hover {
      background-color: #87a3f5 !important;

  }

  .deconnexion {
      display: flex;
      justify-content: right;
      align-items: center;
  }


  .populartitre {
      font-family: 'Bentham', serif;
      font-size: 1rem;
  }

  .formulaire {
      background-color: #F0F6F7 !important;
      box-shadow: 3px 3px 15px #a7bdc2;
      border-radius: 5px;
  }


  .formulaireAjout {
      background-image: url(../../public/fondblanc2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 90vh;
  }

  .central {
      min-height: 70vh;
      display: flex;
  }


  .footer {
      background-color: #a2b4f0ec;

  }

  .footerLogo {
      text-align: left;
  }

  .footerRS {
      text-align: right;
  }

  .footer a {
      color: black;
      text-decoration: none;
  }

  @media screen and (max-width: 650px) {

      .header h1 {
          font-size: 50px;
          padding: 0px 40px 0px 40px;
      }


      .header h3 {
          font-size: 16px;
          padding: 0px 40px 0px 40px !important;
          text-align: left !important;
      }

      .containerArticle {
          margin: 0% 4% 0% 4% !important;
      }

      .homeEvent,
      .articlepop {
          margin: 40px 0px 20px 20px !important;
      }

      .homeEvent {
          margin: 60px 10px 60px 10px;
      }

      .commLeft {
          text-align: center;
      }

      .commRight {
          text-align: center;
      }

      .deconnexion {
          justify-content: left;
      }

      .formulaireTitre {
          font-size: 40px;
      }

      .line1 {
          top: 22%;
          left: 62%;
      }

      @keyframes example {
          from {
              width: 2px;
          }

          to {
              width: 100px;
          }
      }

      .line3 {
          top: 10%;
          left: 2%;
      }

      @keyframes example3 {
          from {
              height: 2px;
          }

          to {
              height: 160px;
          }
      }

      .line2 {
          bottom: 10%;
          left: 25%;
      }

      @keyframes example2 {
          from {
              width: 2px;
          }

          to {
              width: 130px;
          }
      }

      .footerLogo,
      .footerRS {
          text-align: center !important;
          margin-bottom: 15px !important;
      }

  }